<!Doctype html>
<html>
<head>
<meta charset="UTF-8">
<link href="menu.css" rel="stylesheet">
<title>search</title>
<script>
function hideDiv() { 
    if (document.getElementById) { // DOM3 = IE5, NS6 
        document.getElementById('hideshow').style.visibility = 'hidden'; 
    } else { 
        if (document.layers) { // Netscape 4 
            document.hideshow.visibility = 'hidden'; 
        } else { // IE 4 
            document.all.hideshow.style.visibility = 'hidden'; 
        } 
    } 
}
 
function showDiv() { 
    if (document.getElementById) { // DOM3 = IE5, NS6 
        document.getElementById('hideshow').style.visibility = 'visible'; 
    } else { 
        if (document.layers) { // Netscape 4 
            document.hideshow.visibility = 'visible'; 
        } else { // IE 4 
            document.all.hideshow.style.visibility = 'visible'; 
        } 
    } 
}
</script>
</head>
<body>

	<nav class="navbar navbar-inverse navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed"
					data-toggle="collapse" data-target="#navbar" aria-expanded="false"
					aria-controls="navbar">
					<span class="sr-only">Toggle navigation</span> <span
						class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="Menu.html"><img src="img/logo.png" /></a>
			</div>
			<div id="navbar" class="navbar-collapse collapse">
				<form class="navbar-form navbar-right">
					<div class="form-group">
						<input type="text" class="form-control login"
							placeholder="Login">
					</div>
					<div class="form-group">
						<input type="password" class="form-control password"
							placeholder="Password">
					</div>
					<input type="submit" class="btn btn-success" id="signinbtn"
						value="Connexion">
				</form>
			</div>
			<!--/.navbar-collapse -->
		</div>
	</nav>
<nav class="options">
<center><ul>
<li><b>About this tool</b></li>
<li>--------------------------------</li>
<li><a href="javascript:showDiv()">Help</a></li>
<li><a href="javascript:showDiv()">Authors</a></li>
<li><a href="https://www.facebook.com/avans?fref=ts">Facebook</a></li>
<li><a href= "https://twitter.com/avanshogeschool">Twitter</a></li>
<li><a HREF="mailto:migan_karen@yahoo.fr">Contact us</a></li>
<li>
<div id="hideshow" style="visibility: hidden;">
    <div id="fade"></div> 
    <div class="popup_block"> 
        <div class="popup"> 
            <a href="javascript:hideDiv()">
                <img src="icon_close.png" class="cntrl" alt="" />
            </a>
            <h3>By Yoann LAMEIRE and Karen MIGAN</h3> 
            <p> 
               Description
			   Description
			   Description
			   Description
			   <br/>
			   <a href="search.html">Close</a>
            </p>
        </div>
    </div>
</div>
</li>
</ul></center>
<center><ul>
<br/>
</nav>
<nav class="options2">
<center><ul>
<li><b> Publications</b></li>
<li>-------------------------------</li>
<li> List of publications</li>
<li> Search a publication</li>
<li> My account</li>
<li> My favourites publications</li>

<br/>
<br/>
</nav>
</ul></center>
</nav>


 


<section class="corps">

<nav>
<div class="animation"></div>
</nav>
<nav>
<div class="animation2"></div>
</nav>
<br/>
<form method= "get">
 <img src="img/gauche.png" />
<input type= "text" name= "texte" size= "43" placeholder="Type your keywords :)" required/>
<input type= "submit" value="Search"/></form>
<br/>
<br/>
<p><b><i>Your search results:</i></b></p>































<p>All rights reserved - IT departement 2015 - Avans Hogeschool</p></center>
</section>
</body>
</html>
