<!Doctype html>
<html>
<head>
<meta charset="UTF-8">
<link href="../../public/stylesheets/menu.css" rel="stylesheet">
<title>search</title>
<script>
function hideDiv() { 
    if (document.getElementById) { // DOM3 = IE5, NS6 
        document.getElementById('hideshow').style.visibility = 'hidden'; 
    } else { 
        if (document.layers) { // Netscape 4 
            document.hideshow.visibility = 'hidden'; 
        } else { // IE 4 
            document.all.hideshow.style.visibility = 'hidden'; 
        } 
    } 
}
 
function showDiv() { 
    if (document.getElementById) { // DOM3 = IE5, NS6 
        document.getElementById('hideshow').style.visibility = 'visible'; 
    } else { 
        if (document.layers) { // Netscape 4 
            document.hideshow.visibility = 'visible'; 
        } else { // IE 4 
            document.all.hideshow.style.visibility = 'visible'; 
        } 
    } 
}
</script>
</head>
<body>

	<nav class="navbar navbar-inverse navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed"
					data-toggle="collapse" data-target="#navbar" aria-expanded="false"
					aria-controls="navbar">
					<span class="sr-only">Toggle navigation</span> <span
						class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="Menu.html"><img src="../../public/images/logo.png" /></a>
			</div>
			<div id="navbar" class="navbar-collapse collapse">
				<form class="navbar-form navbar-right">
					<div class="form-group">
						<input type="text" class="form-control login"
							placeholder="Login">
					</div>
					<div class="form-group">
						<input type="password" class="form-control password"
							placeholder="Password">
					</div>
					<input type="submit" class="btn btn-success" id="signinbtn"
						value="Connexion">
				</form>
			</div>
			<!--/.navbar-collapse -->
		</div>
	</nav>
<nav class="options">
<center><ul>
<li><b>About this tool</b></li>
<li>--------------------------------</li>
<li>Help</li>
<li><a href="javascript:showDiv()">Authors</a></li>
<li><a href="https://www.facebook.com/avans?fref=ts">Facebook</a></li>
<li><a href= "https://twitter.com/avanshogeschool">Twitter</a></li>
<li><a HREF="mailto:migan_karen@yahoo.fr">Contact us</a></li>
<li>
<div id="hideshow" style="visibility: hidden;">
    <div id="fade"></div> 
    <div class="popup_block"> 
        <div class="popup"> 
            <a href="javascript:hideDiv()">
                <img src="icon_close.png" class="cntrl" alt="" />
            </a>
            <h3>By Yoann LAMEIRE and Karen MIGAN</h3> 
            <p> 
               Description
			   Description
			   Description
			   Description
			   <br/>
			   <a href="search.html">Close</a>
            </p>
        </div>
    </div>
</div>
</li>
</ul></center>
<center><ul>
<br/>
</nav>
<nav class="options2">
<center><ul>
<li><b> Publications</b></li>
<li>-------------------------------</li>
<li> Watch the list of publications</li>
<li> My favourites publications</li>
<li> My account</li>
<li> Log out </li>

<br/>
<br/>
</nav>
</ul></center>
</nav>


 


<section class="corps">

<nav>
<div class="animation"></div>
</nav>
<nav>
<div class="animation2"></div>
</nav>
<br/>
	<script>
	function textAreaAdjust(o) {
		o.style.height = "1px";
		o.style.height = (5+o.scrollHeight)+"px";
	}
	</script>
	<script src="piece_jointe.js"></script>
</head>

<body>
<div class="tableau">
	<form id="mainForm" action="insertion.php" method="POST" enctype="multipart/form-data" id="fiche_form">
	<table border="1" align="center" cellspacing="0" cellpadding="10" width=780px>
	    
		<tfoot>
			<tr>
			<td bgcolor="F5F5F5"><div class="a11">Article :</div></td>
			<td colspan="5">
			<div id="files">
			<a href= "javascript:void(0)" onclick="addFile()" >Add an article</a>&nbsp;&nbsp;&nbsp;<span class="attention">(< 5Mo)</span>
			<input  type="submit" value="Save" />
			</div>
			</td>
			</tr>
			
	</table>
	</div>
		
	</form>
	<script type="text/javascript">
		var cloneMEP_tmp = $('#MEP').clone();
		var cloneMAP_tmp = $('#MAP').clone();
		var i = 2;
		
		function addLigne( obj){
			var cloneMEP = cloneMEP_tmp.clone();
			var cloneMAP = cloneMAP_tmp.clone();
			var cloneMEPID = 'MEP' + i;
			var cloneMAPID = 'MAP' + i;
			
			cloneMEP.attr('id', cloneMEPID);
			cloneMAP.attr('id', cloneMAPID);
			
			$('#tableToModify').append(cloneMEP);
			$('#tableToModify').append(cloneMAP);
			
			$('#' + cloneMEPID + ' .a9').html("Détail-text " + i + ":");
			$('#' + cloneMAPID + ' .a10').html("Détail-image " + i + ":");
			
			cloneMEP.find('td').first().append('<button class="closeBtn" >Supprimer</button>');
			cloneMEP.find('.closeBtn').click(function() {
				cloneMEP.remove();
				cloneMAP.remove();
			});
			
			var j = i-1;
			$('#' + cloneMEPID + ' textarea')
				.attr("id", "detail" + i)
				.attr("name", "detail-text[" + j+"]");
			
			$('#' + cloneMAPID + ' img').attr("id", "thumbnil" + i);
			$('#' + cloneMAPID + ' input').attr("onchange", "fileChange(this);showMyImage(this, 'thumbnil" + i + "')");
			
			initDetail('#detail' + i);
			
			i++;
		}
	
		$("#submitFormCmd").click(function() {
			$("#mainForm").submit();
		});
		
		initDetail('#detail1');
		
	</script>
	
	<br/>
	<br/>
	<br/>
<form method= "get">
 <img src="../../public/images/gauche.png" />
<input type= "text" name= "texte" size= "43" placeholder="Type your keywords :)" required/>
<input type= "submit" value="Search"/></form>
<br/>
<br/>
<br/>
<p><b><i>Your search results:</i></b></p>































<p>All rights reserved - IT departement 2015 - Avans Hogeschool</p></center>
</section>
</body>
</html>
